# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*-firebase-adminsdk-*.json

# Scripts d'administration (optionnel - décommente si tu veux les ignorer)
# scripts/create-admin-user.js
# scripts/README-admin.md

scripts/create-admin-user.js
scripts/README-admin.md
scripts/migrate-stats.js
scripts/migrate-stats-config.js
scripts/test-stats-config.js
scripts/README-migrate-stats.md
scripts/test-stats.js
admin-creator.js